@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply text-lg dark:!text-black dark:bg-cake-400 dark:hover:bg-cake-500 dark:active:bg-cake-600 !text-black bg-cake-500 hover:bg-cake-600 active:bg-cake-700 px-4 py-2 rounded-lg transition-all font-bold w-fit shadow-lg dark:disabled:hover:bg-cake-400 disabled:hover:bg-cake-500 disabled:cursor-not-allowed
  }

  .sidebar-item {
    @apply w-12 h-12 flex justify-center items-center text-center rounded-3xl shadow-lg dark:bg-cake-900 dark:hover:bg-cake-500 bg-cake-100 hover:bg-cake-500 hover:text-black hover:rounded-xl transition-all duration-200 ease-linear cursor-pointer
  }

  .glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md
  }
 
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a[target="_blank"]:not(.no-icon)::after {
  content: "";
  margin: 0 0px 0px 3px;
  display: inline-block;
  width: 12px;
  height: 16px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-image: url("/external_link.svg");
  -webkit-mask-image: url("/external_link.svg");
}


/* Give color to Markdown links */
.dark .prose-base a {
  color: #DBB052;
}

.dark .prose-base a:hover {
  color: #CF9A2B;
}

.dark .prose-base a:active {
  color: #A57B22;
}

.prose-base a {
  color: #A57B22;
}

.prose-base a:hover {
  color: #7A5C19;
}

.prose-base a:active {
  color: #543F12;
}


/* Set the range slider bg color */
.track-1 {
  background-color: #DBB052 !important;
}

/* Hide the type number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-pane, .leaflet-bottomm, .leaflet-control, .leaflet-top, .leaflet-left, .leaflet-right {
  z-index: 1 !important;
}


 /* shadcn ui */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --cake: 41 66% 49%;
    
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
 
  }
 
}



@layer base {
  * {
    @apply border-border outline-ring/50;
 
  }
  body {
    @apply bg-background text-foreground;
 
  }
 
}