@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply text-lg dark:!text-black dark:bg-cake-400 dark:hover:bg-cake-500 dark:active:bg-cake-600 !text-black bg-cake-500 hover:bg-cake-600 active:bg-cake-700 px-4 py-2 rounded-lg transition-all font-bold w-fit shadow-lg dark:disabled:hover:bg-cake-400 disabled:hover:bg-cake-500 disabled:cursor-not-allowed
  }

  .sidebar-item {
    @apply  w-12 h-12 flex justify-center items-center text-center rounded-3xl shadow-lg dark:bg-cake-900 dark:hover:bg-cake-500 bg-cake-100 hover:bg-cake-500 hover:text-black hover:rounded-xl transition-all duration-200 ease-linear cursor-pointer
  }

  .glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md
  }
 
}

html {
  scroll-behavior: smooth;
}

a[target="_blank"]:not(.no-icon)::after {
  content: "";
  margin: 0 0px 0px 3px;
  display: inline-block;
  width: 12px;
  height: 16px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-image: url("/external_link.svg");
  -webkit-mask-image: url("/external_link.svg");
}

/* Set the range slider bg color */
.track-1 {
  background-color: #DBB052 !important;
}

/* Hide the type number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
